<div class="container">

    <h1>

        📚 Đăng truyện mới

    </h1>

    <hr>

    <p>

        Commit 2.6.1.1

    </p>

    <p>

        ✔ Model Manga

    </p>

    <p>

        ✔ Model Chapter

    </p>

    <p>

        ✔ Multer Upload

    </p>

    <p>

        ✔ Translator Middleware

    </p>

    <br>

    <h3>

        Form Upload sẽ được hoàn thiện ở Commit 2.6.1.2

    </h3>

</div>